numpy
pandas>=1.0.1
torch>=1.12.1
transformers>=4.21.2
datasets>=1.8.0
bert-score
fire
colorama
matplotlib
tensorboard
tqdm>=4.31.1
scikit-learn
evaluate
nltk
# git+https://github.com/google-research/bleurt.git # bleurt